*,*::after,*::before {
  box-sizing: border-box;
}

:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
  --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
  --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
  --White-Dark-Mode-Text-and-Light-Mode-Elements: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--Very-Light-Gray-Light-Mode-Background, hsl(0, 0%, 98%));
  color: var(--Very-Dark-Blue-Light-Mode-Text, hsl(200, 15%, 8%));
  font-size: 14px;
  overflow-y: scroll;
}
